
    a {
      text-decoration: none;
      color: inherit
    }

    a:hover {
      text-decoration: underline
    }

    a img {
      border: 0
    }

    body {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      padding: 8px;
      margin: 0 auto;
      max-width: 700px;
      min-width: 240px
    }

    .FbhRzb {
      border-left: thin solid #dadce0;
      border-right: thin solid #dadce0;
      border-top: thin solid #dadce0;
      height: 40px;
      overflow: hidden
    }

    .n692Zd {
      margin-bottom: 10px
    }

    .cvifge {
      height: 40px;
      border-spacing: 0
    }

    .QvGUP {
      height: 40px;
      padding: 0 8px 0 8px;
      vertical-align: top
    }

    .O4cRJf {
      height: 40px;
      width: 100%;
      padding: 0;
      padding-right: 16px
    }

    .O1ePr {
      height: 40px;
      padding: 0;
      vertical-align: top
    }

    .kgJEQe {
      height: 36px;
      width: 98px;
      vertical-align: top;
      margin-top: 4px
    }

    .lXLRf {
      vertical-align: top
    }

    .MhzMZd {
      border: 0;
      vertical-align: middle;
      font-size: 14px;
      height: 40px;
      padding: 0;
      width: 100%;
      padding-left: 16px
    }

    .xB0fq {
      height: 40px;
      border: none;
      font-size: 14px;
      background-color: #4285f4;
      color: #fff;
      padding: 0 16px;
      margin: 0;
      vertical-align: top;
      cursor: pointer
    }

    .xB0fq:focus {
      border: 1px solid #000
    }

    .M7pB2 {
      border: thin solid #dadce0;
      margin: 0 0 3px 0;
      font-size: 13px;
      font-weight: 500;
      height: 40px
    }

    .euZec {
      width: 100%;
      height: 40px;
      text-align: center;
      border-spacing: 0
    }

    table.euZec td {
      padding: 0;
      width: 25%
    }

    .QIqI7 {
      display: inline-block;
      padding-top: 4px;
      font-weight: bold;
      color: #4285f4
    }

    .EY24We {
      border-bottom: 2px solid #4285f4
    }

    .CsQyDc {
      display: inline-block;
      color: #70757a
    }

    .TuS8Ad {
      font-size: 14px
    }

    .dzp8ae {
      font-weight: bold;
      color: #3c4043
    }

    .rEM8G {
      color: #70757a
    }

    .bookcf {
      table-layout: fixed;
      width: 100%;
      border-spacing: 0
    }

    .InWNIe {
      text-align: center
    }

    .uZgmoc {
      border: thin solid #dadce0;
      color: #70757a;
      font-size: 14px;
      text-align: center;
      table-layout: fixed;
      width: 100%
    }

    .frGj1b {
      display: block;
      padding: 12px 0px 12px 0px;
      width: 100%
    }

    .BnJWBc {
      text-align: center;
      padding: 6px 0 13px 0;
      height: 35px
    }
  </style>
</head>

<body>
  <style>
    .ezO2md {
      border: thin solid #dadce0;
      padding: 12px 16px 12px 16px;
      margin-bottom: 10px;
      font-family: Roboto, Helvetica, Arial, sans-serif
    }

    .lIMUZd {
      font-family: Roboto, Helvetica, Arial, sans-serif
    }

    .FD4UKd {
      padding-bottom: 12px
    }

    .uozReb {
      padding-bottom: 12px
    }

    .j8r0zf {
      padding-top: 12px
    }

    .jWZYvb {
      overflow: hidden;
      text-align: center
    }

    .ciXTX {
      margin: 0 auto;
      display: block
    }

    .YDXrRe {
      margin: 0 -50%;
      display: inline-block
    }

    .c4ImMc {
      padding-bottom: 8px
    }

    .fYyStc {
      word-break: break-word
    }

    .ynsChf {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
    }

    .Fj3V3b {
      color: #1967D2;
      font-size: 14px;
      line-height: 20px
    }

    .FrIlee {
      color: #202124;
      font-size: 13px;
      line-height: 20px
    }

    .F9iS2e {
      color: #70757a;
      font-size: 13px;
      line-height: 20px
    }

    .WMQ2Le {
      color: #70757a;
      font-size: 12px;
      line-height: 16px
    }

    .x3G5ab {
      color: #202124;
      font-size: 18px;
      line-height: 24px
    }

    .fuLhoc {
      color: #1967D2;
      font-size: 18px;
      line-height: 24px
    }

    .epoveb {
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
      color: #202124
    }

    .dXDvrc {
      color: #0d652d;
      font-size: 14px;
      line-height: 20px;
      word-wrap: break-word
    }

    .dloBPe {
      font-weight: bold
    }

    .YVIcad {
      color: #70757a
    }

    .JkVVdd {
      color: #ea4335
    }

    .oXZRFd {
      color: #ea4335
    }

    .MQHtg {
      color: #fbbc04
    }

    .pyMRrb {
      color: #1e8e3e
    }

    .EtTZid {
      color: #1e8e3e
    }

    .M3vVJe {
      color: #1967D2
    }

    .qXLe6d {
      display: block
    }

    .NHQNef {
      font-style: italic
    }

    .Cb8Z7c {
      white-space: pre
    }

    a.ZWRArf {
      text-decoration: none
    }

    a .CVA68e:hover {
      text-decoration: underline
    }

    .YgS6de {
      width: 100%
    }

    .OWPbab {
      border-spacing: 0;
      width: 100%
    }

    .f3hb4 {
      vertical-align: top;
      width: 100%
    }

    .TYvcTb {
      margin: 0
    }

    .cnjbFd {
      display: block;
      padding-top: 12px
    }

    .SAvc1d {
      border-spacing: 0;
      width: 100%;
      table-layout: auto;
      padding: 4px 0px 4px 0px
    }

    .Z4Pjr {
      text-align: right
    }
